.container {
    width: 1000px;
    margin: 0 auto;
}
.content {
    margin-top: 42px;
    
}
.content form {
    display: flex;
}
.content .col-right {
    width:600px;
}
.content .col-right .row-control{
    margin-left: 38px;
    margin-top: 24px;
}
.content .col-right .row-control input {
    height:38px;
    width:404px;
    border-radius:8px;
    border-color: #d5d5d5;
    border-style: solid;
    padding-left: 8px;
}
.content .col-left {
    width: 400px;
}
.content .col-left img {
    width:80%;
    margin-left: 12px;
    margin-top: 12px;
}
.content .col-left input[type="file"] {
    display: none;
}
.content form label {
    display: block;
    padding-left: 12px;
}